<div class="table-container">
    <div id="your-games-container" ng-hide="!isLogged">
    <h1>Your games !</h1>
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Red Player</th>
                <th>Blue Player</th>
                <th>Game State</th>
                <th>Date Created</th>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="game in games" >
                    <td  ng-if="(user.username == game.Blue || user.username == game.Red) && game.GameState != 'WaitingForOpponent'">{{game.Id}}</td>
                    <td  ng-if="(user.username == game.Blue || user.username == game.Red) && game.GameState != 'WaitingForOpponent'">{{game.Name}}</td>
                    <td  ng-if="(user.username == game.Blue || user.username == game.Red) && game.GameState != 'WaitingForOpponent'">{{game.Red}}</td>
                    <td  ng-if="(user.username == game.Blue || user.username == game.Red) && game.GameState != 'WaitingForOpponent'">{{game.Blue}}</td>
                    <td  ng-if="(user.username == game.Blue || user.username == game.Red) && game.GameState != 'WaitingForOpponent'">{{game.GameState}}</td>
                    <td  ng-if="(user.username == game.Blue || user.username == game.Red) && game.GameState != 'WaitingForOpponent'">{{game.DateCreated}} </td>
                    <td ng-click="login(game)" ng-if="(user.username == game.Blue || user.username == game.Red) &&  game.GameState != 'WaitingForOpponent' && isLogged">
                        <a href="/#/games/play/{{game.Id}}" class="btn btn-primary">Play</a>
                    </td>
            </tr>
            </tbody>
        </table>
    </div>
    <h2>Avaible Games !</h2>
    <table class="table table-striped table-hover ">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Red Player</th>
            <th>Blue Player</th>
            <th>Game State</th>
            <th>Date Created</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="game in games">
            <td ng-if="game.GameState == 'WaitingForOpponent'">{{game.Id}}</td>
            <td ng-if="game.GameState == 'WaitingForOpponent'">{{game.Name}}</td>
            <td ng-if="game.GameState == 'WaitingForOpponent'">{{game.Red}}</td>
            <td ng-if="game.GameState == 'WaitingForOpponent'">{{game.Blue}}</td>
            <td ng-if="game.GameState == 'WaitingForOpponent'">{{game.GameState}}</td>
            <td ng-if="game.GameState == 'WaitingForOpponent'">{{game.DateCreated}} </td>
            <form >
                <td ng-click="login(game)" ng-if="game.GameState == 'WaitingForOpponent' && isLogged">
                    <button class="btn btn-primary">Join</button>
                </td>
                <td ng-if="game.GameState == 'WaitingForOpponent' && isLogged">
                    <input type="text" ng-model="game.number" required="" placeholder="Number" class="form-control">
                </td>
            </form>
        </tr>
        </tbody>
    </table>
</div>