<div class="col-lg-12 play-container">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 register-form">
        <div class="well bs-component">
            <form class="form-horizontal">
                <input type="text" placeholder="Quess Number" class="form-control" required="" minlength="4" maxlength="4" ng-model="number">
                <button ng-click="quess(number)" class="btn btn-default">Quess</button>
            </form>
            <div example-animate-container>
                <div>
                    <img class="animate-repeat" src="../../img/quessCow.png" width="110px" ng-repeat="element in bullsAndCowsLength | limitTo:cows" />
                </div>
                <br>
                <div>
                    <img class="animate-repeat" src="../../img/quessBull.png" width="110px" ng-repeat="element in bullsAndCowsLength | limitTo:bulls" />
                </div>
            </div>
        </div>
    </div>
</div>
