.register-form{
    text-align: center;
    margin-top: 40px;
}

.home-container{
    text-align: center;
}

.home-image{
    margin-top:-120px;
    margin-bottom: -70px;
}

.play-container .form-horizontal{
    padding: 10px 50px;
}

.play-container{
    margin-top: -40px;

}

.form-horizontal{
    padding: 10px 50px;
}

.table-container{
    margin:50px 150px
}

.scores{
margin:50 250px;

}